*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
#banner{
    background-image: url(../image/large.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;

}
.opaco_banner{

    	background-color: rgba(0,0,0,0.4);
    	background-size: cover;
        height: 700px;
}
.row{
    margin: 0px;
    padding: 0px;
}
.navbar-header  img{
    width: 11em;
}
.navbar{
    padding-top: 35px;
    border: none;
    background-color: rgba(0,0,0,0.2
        )
}
.navbar-default .navbar-nav > li > a{
    color: white;
    font-size: 18px;
    

}
.navbar-default .navbar-nav > li > a:hover{
    color: #58A5FF;
}
.nav > li > a {
padding: 15px 40px;
}
.text_img{

    text-align: center;
    padding: 18% 23% 0% 23%;
    color: white;

}
.boton-grat{
    margin: 11% 0%;
    height: 160px;

    color: white;
    text-align: center;
    background-color:rgba(55, 148, 242, 0.9);
    position: relative;
    bottom: 0;
}

h1{
    font-size:40px;
    text-align: center;
}

h4{
    font-size: 30px;
    color:
}





button{
    margin-top:25px;
    border: 2px solid white;
    padding: 7px 28px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    font-size: 28px;
}
.serv{

    text-align: center;
    padding:85px 20px ;
    }

i{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
    font-size: 30px;
    background-color: white;
    padding: 35px;
    color:#58A5FF;

}
section{
    padding:110px 0px 30px 0px;
}
#nuestros_servicios h1{
    color:#58A5FF;
}
h3{
    font-size: 40px;
    text-align: center;
    color:#58A5FF;
}
h4{
    font-size: 28px;
    color: #43617e;
}
.separador{

    height: 1px;
    background-color:#58A5FF;
    text-align: center;
    position: relative;
}
.separador img{
    text-align: center;

    margin-top: -50px;
}

h3 img{
    width: 15em;

}

.sec2 {
    background-image: url(../image/sec-2.jpg);
    background-size: cover;
    height: 530px;
}
.sec2_text{
    padding-left: 50px;
}
.sec2 nav{
    float: right;
    margin-right: -9%;

}
.sec2 nav li{
text-decoration: none;
list-style: none;
padding-bottom: 95px;


}


iframe{
    width: 100%;

}
.sect {
    text-align: center;
}
.instruc{
    font-size: 20px;
}
#pasos{
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #58A5FF;
    border-bottom: 1px solid #58A5FF;
}
#pasos i{

    font-size: 30px;
    background-color: #58A5FF;
    padding: 25px;
    color:white;
}
.user{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    height: 400px;
}

footer{
padding: 40px 30px;
    background-color: #2A3541;
    height: 130px;
    color: white;
}
#prueb-grat{
    margin: 0%;
    padding: 0px;
}
span{
color: #43617e;
}
.redes i{
    font-size: 40px;
    background-color: transparent;
    color: #58A5FF;
    box-shadow: none;
    float: right;
    margin-right: 20px;
    padding: 0px;

}
/*CONTACT US*/
.contact_banner{
background-image: url(../image/large.jpg);
background-size: cover;
height: 700px;

}
.formulario{
    width: 580px;
    background-color: white;
    color: black;
    margin: auto;
    text-align: left;
    border-top: 5px solid #72a0d9;
    padding: 0% 3% ;

}
input, textarea {
    width: 270px;
    height: 20px;
}

.red{
    color: red;
}
label{
    
width:25%; 
margin-bottom: 8px;
}
.btn_enviar{
    width: 120px;
    background-color: #72a0d9;
    border:none;
    color: white;
    border-radius: 2px;
}
.center{
    width: 130px;
    margin:0px 200px;
}
.text-right{
 margin-top: -33px;   
}